@{
    Layout = "_Layout";
}

@using Registrar.Models;
@model List<Registrar.Models.Student>;

<h2>Student Roster:</h2>

@if(@Model.Count == 0)
{
    <h3>No students have been added to the roster yet.</h3>
}

@foreach (Student student in Model)
{
    <h3>@Html.ActionLink($"{student.Name}", "Details", new { id = student.StudentId })</h3>
}


<p>@Html.ActionLink("Return Home", "Index", "Home") | @Html.ActionLink("Add a student", "Create")</p>