@{
    Layout = "_Layout";
}

@using Registrar.Models

<h2>Welcome to the Office of the Registrar!</h2> 
<hr/>
<h3>@Html.ActionLink("Student Roster", "Index", "Students") | @Html.ActionLink("Add Student", "Create", "Students")</h3> 
